.section_one{
    display: inline-flex; /* content and image appear side by side */
    padding-bottom: 5%; /*add padding space between section one and two*/
    padding-left: 3%;
}

.about_us{
    text-align: center; /* written content aligned center as in figma design */
    padding: 2%; /* add padding around about us content */
    line-height: 150%;
}

.section_two{
    display: inline-flex; /* content and image appear side by side */
    padding-bottom: 5%; /* add padding space between section two and three */
    padding-left: 3%;
}

.what_we_do{
    text-align: center; /* written content aligned center as in figma design */
    padding: 3%; /* add padding around what we do content */
    line-height: 150%;
}

.choose_us{
    text-align: center; /* written content aligned center as in figma design */
    line-height: 150%;
}

.image_display{
    display: block;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

* {
    box-sizing: border-box;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}