.section_one{
    display: inline-flex; /* content and image appear side by side */
    padding-bottom: 10%; /*add padding space between section one and two*/
}

.about_us{
    text-align: center; /* written content aligned center as in figma design */
}

.section_two{
    display: inline-flex; /* content and image appear side by side */
    padding-bottom: 10%; /* add padding space between section two and three */
}

.what_we_do{
    text-align: center; /* written content aligned center as in figma design */
}

.choose_us{
    text-align: center; /* written content aligned center as in figma design */
}