.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(89, 21, 29);
}

.logins {
    display: flex;
}

ul a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 12px;
    border: 1px solid white;
    margin: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 10px #59151d;
}

li a {
    color: #59151d;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav ul li {
    padding: 12px;
    border: 1px solid #59151d;
    margin: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 10px #59151d;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 500px;
    margin: 10px;
}

.slide {
    z-index: 1;
    position: absolute;
}

.slide figure {
    z-index: 1;
    border-radius: 5px;
}

.navigate {
    position: absolute;
    z-index: 2;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.navigate .btn {
    width: 12px;
    height: 12px;
    margin: 10px;
    background: rgb(89, 21, 29);
}

@media (max-width:800px) {
    .slider {
        width: 600px;
        height: 375px;
    }
    .navigate {
        bottom: 25px;
    }
    .navigate .btn {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

.product {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.sand {
    background-image: url("productimg/sand.jpeg");
    width: 380px;
    height: 40vh;
    border: 1px solid #59151d;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 10px 5px #59151d;
    outline: none;
}

.cont {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.cont button {
    padding: 8px 20px;
    border: none;
    background-color: #59151d;
    color: white;
    outline: none;
    transition: all 250ms ease-in-out;
}

.cont button:hover {
    background-color: white;
    color: #59151d;
    cursor: pointer;
}

.TMT {
    background-image: url(productimg/TMT\ Steel\ Bars.jpeg);
    width: 380px;
    height: 40vh;
    border: 1px solid #59151d;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 10px 5px #59151d;
    outline: none;
}

.ELECTRONICS {
    background-image: url(productimg/Power\ Cables.jpeg);
    width: 380px;
    height: 40vh;
    border: 1px solid #59151d;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 10px 5px #59151d;
    outline: none;
}

.CONCRETE {
    background-image: url(productimg/hollow\ concrete\ blocks.jpg);
    width: 380px;
    height: 40vh;
    border: 1px solid #59151d;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 10px 5px #59151d;
    outline: none;
}

.BRICKS {
    background-image: url(productimg/Clay\ Hollow\ Bricks.jpeg);
    width: 380px;
    height: 40vh;
    border: 1px solid #59151d;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 10px 5px #59151d;
    outline: none;
}

.CEMENT {
    background-image: url(productimg/43\ Grade\ Cement.jpg);
    width: 380px;
    height: 40vh;
    border: 1px solid #59151d;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 10px 5px #59151d;
    outline: none;
}