.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(89, 21, 29);
}

.logins {
    display: flex;
}

ul a {
    text-decoration: none;
}

.logins ul {
    list-style: none;
    display: flex;
}

.logins ul li {
    padding: 12px;
    border: 1px solid white;
    margin: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 10px #59151d;
}

.logins li a {
    color: #59151d;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    padding: 12px;
    border: 1px solid #59151d;
    margin: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 10px #59151d;
}

.front {
    display: flex;
    justify-content: space-around;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 500px;
    margin: 10px;
}

.slider h1 {
    color: white;
}

.slider button {
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #59151d;
    color: aliceblue;
}

.slider div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide {
    z-index: 1;
    position: absolute;
}

.slide figure {
    z-index: 1;
    border-radius: 5px;
}

@media (max-width:800px) {
    .slider {
        width: 600px;
        height: 375px;
    }
}

.dropdown h2 {
    color: #59151d;
    font-size: 2rem;
}

.dropdown ul {
    list-style: none;
}

.dropdown li a {
    line-height: 30px;
}

.product {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.overlay {
    filter: brightness(.7);
    width: 380px;
    height: 40vh;
    border: 1px solid #59151d;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 10px 5px #59151d;
    outline: none;
}

.overlay:hover {
    filter: brightness(1);
}

.sand {
    background-image: url("productimg/sand.jpeg");
}

.cont {
    color: #59151d;
    text-align: center;
    padding-top: 50px;
}

.cont button {
    padding: 8px 20px;
    border: none;
    background-color: #59151d;
    color: white;
    outline: none;
    transition: all 250ms ease-in-out;
}

.cont button:hover {
    background-color: white;
    color: #59151d;
    cursor: pointer;
}

.TMT {
    background-image: url(productimg/TMT\ Steel\ Bars.jpeg);
}

.ELECTRONICS {
    background-image: url(productimg/Power\ Cables.jpeg);
}

.CONCRETE {
    background-image: url(productimg/hollow\ concrete\ blocks.jpg);
}

.BRICKS {
    background-image: url(productimg/Clay\ Hollow\ Bricks.jpeg);
}

.CEMENT {
    background-image: url(productimg/43\ Grade\ Cement.jpg);
}