.hero {
    height: 100px;
    background-color: rgba(89, 21, 29, 0.5);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
    float: right;
    padding: 25px;
}

.hero>.logs>ul>li>input {
    border-radius: 10px;
    border: none;
    box-shadow: 1px 5px 0.1px 1px rgba(0, 0, 0, 0.5);
}

.nav-bar {
    width: 80%;
}


.hide {
    max-height: 0 !important;
}

.dropdown {
    border: 0.1em solid black;
    width: 10em;
    margin-top: 10em;
}

.dropdown .title {
    margin: .3em .3em .3em .3em;
    width: 100%;
}

.dropdown .title .fa-angle-right {
    float: right;
    margin-right: .7em;
    transition: transform .3s;
}

.dropdown .menu {
    transition: max-height .5s ease-out;
    max-height: 20em;
    overflow: hidden;
}

.dropdown .menu .option {
    margin: .3em .3em .3em .3em;
    margin-top: 0.3em;
}

.dropdown .menu .option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.pointerCursor:hover {
    cursor: pointer;
}

.rotate-90 {
    transform: rotate(90deg);
}

.column {
    display: flex;
    padding: 100px;
}

.column p {
   text-align: center;
   background-color: royalblue;
   margin: 0 0px;
   color: seashell;
   padding: 10px;
}

.r-mat {
    padding-left: 100px;
}

.f-mat {
    padding-left: 100px;
}

.ele-mat {
    padding-left: 100px;
}

/* Image Hover effect */

.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__img-r {
    display: block;
    width: 100%;
}

#img-r {
    left: 100px;
}

#img-2 {
    left: 100px;
}

#img-1 {
    left: 100px;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: rgba(0, 0, 0, 0.4);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.image__img-r {
    padding-left: 100px;
}

.image-container .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    width: 85%;
    margin:0 auto;
}

.image-container .box-container .box{
    flex:1 1 30rem;
    border:.1rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    margin:1rem 2rem;
}

.image-container .box-container .box .image{
    height: 20rem;
    padding:2rem;
    text-align: center;
    background:#f0f0f0;
}

.image-container .box-container .box .info h3{
    padding:1rem;
    font-size: 2rem;
}


.image-container .box-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}


.image-container .box-container .box .info .subInfo .price{
    color:#ff3300;
    font-size: 2rem;
}

.image-container .box-container .box .info .subInfo .stars i{
    color:orange;
    font-size: 1.5rem;
}

.image-container .box-container .box {
    flex:1 1 30rem;
    border:.1rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    margin:1rem 2rem;
}

.image-container .box-container .box .overlay{
    position: absolute;
    top:0; left: 0;
    height:23.9rem;
    width: 100%;
    background:rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.image-container .box-container .box:hover .overlay {
    transform: scale(1);
}

.image-container .box-container .box .overlay a {
    font-size: 2rem;
    padding:1.5rem 2rem;
    background:#fff;
    color:#666;
    margin:1rem;
    transform: translateY(-15rem);
    transition-delay: calc(.1s * var(--i));
}

.image-container .box-container .box:hover .overlay a {
    transform: translateY(0rem);
}

.image-container .box-container .box .overlay a:hover {
    color:var(--blue);
}

.products a:-webkit-any-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.products a:-webkit-any-link:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}