@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

.hero {
    height: 100px;
    background-color: rgba(89, 21, 29, 0.5);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
    float: right;
    padding: 25px;
}

.hero>.logs>ul>li>input {
    border-radius: 10px;
    border: none;
    box-shadow: 1px 5px 0.1px 1px rgba(0, 0, 0, 0.5);
}

.nav-bar {
    width: 80%;
}


.hide {
    max-height: 0 !important;
}

.dropdown {
    border: 0.1em solid black;
    width: 10em;
    margin-top: 10em;
}

.dropdown .title {
    margin: .3em .3em .3em .3em;
    width: 100%;
}

.dropdown .title .fa-angle-right {
    float: right;
    margin-right: .7em;
    transition: transform .3s;
}

.dropdown .menu {
    transition: max-height .5s ease-out;
    max-height: 20em;
    overflow: hidden;
}

.dropdown .menu .option {
    margin: .3em .3em .3em .3em;
    margin-top: 0.3em;
}

.dropdown .menu .option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.pointerCursor:hover {
    cursor: pointer;
}

.rotate-90 {
    transform: rotate(90deg);
}

#Products {
    align-items: center;
    margin-left: -1px;
    padding-left: 16rem;
    background-image: url(images/const/const.jpg);
}

.column {
    display: flex;
    padding: 100px;
}

.column p {
   text-align: center;
   background-color: royalblue;
   margin: 0 0px;
   color: seashell;
   padding: 10px;
}

.r-mat {
    padding-left: 100px;
}

.f-mat {
    padding-left: 100px;
}

.ele-mat {
    padding-left: 100px;
}

/* Image Hover effect */

.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__img-r {
    display: block;
    width: 100%;
}

#img-r {
    left: 100px;
}

#img-2 {
    left: 100px;
}

#img-1 {
    left: 100px;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: rgba(255, 255, 255, 0);
    box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.5), 3px 0px 20px 0 rgba(240, 18, 18, 0.2);
    border-radius: 0px;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    background: rgba(0, 0, 0, 0.4);
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.image__img-r {
    padding-left: 100px;
}

.image-container .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    width: 85%;
    margin:0 auto;
}

.image-container .box-container .box{
    flex:1 1 30rem;
    border:.1rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    margin:1rem 2rem;
    box-shadow: 1px 4px 8px 2px rgba(21, 33, 207, 0.5), 3px 0px 20px 0 rgba(240, 18, 18, 0.2);
    border-radius: 20px;
}

.image-container .box-container .box .image{
    height: 7rem;
    padding:2rem;
    text-align: center;
}

.image-container .box-container .box .info h3{
    padding:2rem;
    font-size: 2rem;
}


.image-container .box-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}


.image-container .box-container .box .info .subInfo .price{
    color:#ff3300;
    font-size: 2rem;
}

.image-container .box-container .box .info .subInfo .stars i{
    color:orange;
    font-size: 1.5rem;
}

.image-container .box-container .box {
    flex:1 1 30rem;
    border:.1rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    margin:1rem 2rem;
}

.image-container .box-container .box .overlay{
    position: absolute;
    top:0; left: 0;
    height:23.9rem;
    width: 100%;
    background:rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.image-container .box-container .box:hover .overlay {
    transform: scale(1);
}

.image-container .box-container .box .overlay a {
    font-size: 2rem;
    padding:1.5rem 2rem;
    background:#fff;
    color:#666;
    margin:1rem;
    transform: translateY(-15rem);
    transition-delay: calc(.1s * var(--i));
}

.image-container .box-container .box:hover .overlay a {
    transform: translateY(0rem);
}

.image-container .box-container .box .overlay a:hover {
    color:var(--blue);
}

.products a:-webkit-any-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.products a:-webkit-any-link:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}


/* Start of Footer*/

.footer{
    background-color: #000;
    width: 100%;
    padding: 60px;
  }
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100%;
    color: #fff;
  }
  .cl{
    display: flex;
    justify-content: center;
  }
  .copyright{
    text-align: left;
    line-height: 60px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 2px;
    width: 100%;
  }
  .cl ul li{
    list-style: none;
  }
  .cl ul li a{
    line-height: 35px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Raleway',sans-serif;
    cursor: pointer;
  }
  .cl ul li a:hover{
    color: #3639a4;
  }
  .s-m{
    margin-top: 30px;
  }
  .s-m a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-align: center;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    transition: all .3s;
  }
  .s-m a:hover{
    transform: scale(1.2);
    color: #3639a4;
  }

/*Footer Starts Here*/

.footer {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Rubik', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    transition: background 0.3s linear;
}

.container {
    max-width: 1240px;
    padding: 30px 40px;
    margin: auto;
}

.content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.profile .logo__area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profile .logo__area img {
    border-radius: 50%;
    border: 1px solid #fff;

}

.logo__area .logo__name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color: #000;
}

.desc__area {
    max-width: 320px;
    margin-bottom: 1.25rem;
}

.desc__area p {
    color: #828282;
    font-weight: 400;
    line-height: 30px;
}

.social__media a {
    color: #828282;
    margin-right: 22px;
    font-size: 24px;
}

.social__media a:hover {
    color: #313131;
}

.service__area {
    display: flex;
}

.service__header {
    margin: 40px;
    display: block;
}

li.service__name {
    color: #000;
    font-weight: 600;
}

.service__header li a {
    color: #828282;
    padding-bottom: 1px;
    font-weight: 400;
}

.service__header li a:hover {
    color: #313131;
}

.service__header li {
    margin-bottom: 10px;
}

hr {
    height: 1px;
    border: none;
    background-color: #828282;
    margin-bottom: 1rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.copy__right {
    color: #828282;
    display: flex;
    align-items: center;
}

.copy__right span {
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}

.tou a {
    color: #828282;
    margin-left: 1.5rem;
}

.tou a:hover {
    color: #313131;
}